node_modules
src/frontend/node_modules
src/frontend/build
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.env
.env
.pytest_cache
.mypy_cache
.ruff_cache
*.log
models
data
results
.git
.gitignore
.DS_Store
